{% extends "base.html.twig" %}

{% block body %}
    <div id="search-container">
        <div id="question-container">
            <div id="search-emoji">
                🤔
            </div>
            <div id="dialogue-container">
                <h1>{{ question }}</h1>
                <div class="arrow"></div>
            </div>
        </div>
        {{ form_start(form) }}
            <div id="search-buttons-container">
                {{ form_widget(form.Non) }}
                {{ form_widget(form.Oui) }}
            </div>
        {{ form_end(form) }}

        <p>Je connais {{ countOfMeals }} {% if countOfMeals < 2 %}plat{% endif %}{% if countOfMeals > 1 %}plats{% endif %}, je vais trouver en {{ numberOfNodesRemaining }} {% if numberOfNodesRemaining < 2 %}question{% endif %}{% if numberOfNodesRemaining > 1 %}questions{% endif %} maximum !</p>
    </div>
{% endblock %}